body {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
    font-family: 'JetBrains Mono', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.date {
    font-size: 1.2em;
    margin-bottom: 30px;
    color: #ccc;
}

.quote {
    font-style: italic;
    color: #888;
}